[NRPE HANDLERS]
check_hpasm=c:\perl\bin\perl.exe "c:\Program Files\NSClient++\scripts\check_hpasm" --hostname $ARG1$ --community $ARG2$
check_openmanage=c:\perl\bin\perl.exe "c:\Program Files\NSClient++\scripts\check_openmanage" -H $ARG1$ -C $ARG2$
