[Settings]
use_file=1

[NSClient]
allowed_hosts={{ nrpe_allowed_hosts }}
port=12489

[NRPE]
allowed_hosts={{ nrpe_allowed_hosts }}
port=5666
allow_arguments=1
allow_nasty_meta_chars=1
use_ssl=1

[Script Wrappings]
vbs=cscript.exe //T:30 //NoLogo scripts\lib\wrapper.vbs %SCRIPT% %ARGS%
bat=scripts\%SCRIPT% %ARGS%

[External Alias]
alias_cpu=checkCPU warn=80 crit=90 time=5m time=1m time=30s
alias_cpu_ex=checkCPU warn=$ARG1$ crit=$ARG2$ time=5m time=1m time=30s
alias_disk=CheckDriveSize MinWarn=10% MinCrit=5% CheckAll FilterType=FIXED
alias_service=checkServiceState CheckAll
alias_process=checkProcState $ARG1$=started
check_nrpe_mem_real=checkMem MaxWarn=80% MaxCrit=90% ShowAll type=physical
alias_up=checkUpTime MinWarn=1d MinWarn=1h
alias_file_age=checkFile2 filter=out "file=$ARG1$" filter-written=>1d MaxWarn=1 MaxCrit=1 "syntax=%filename% %write%"
alias_file_size=checkFile2 filter=out "file=$ARG1$" filter-size=>$ARG2$ MaxWarn=1 MaxCrit=1 "syntax=%filename% %size%"
alias_file_size_in_dir=checkFile2 filter=out pattern=*.txt "file=$ARG1$" filter-size=>$ARG2$ MaxWarn=1 MaxCrit=1 "syntax=%filename% %size%"
alias_event_log_old=CheckEventLog file=application file=system filter=new filter=out MaxWarn=1 MaxCrit=1 filter-generated=>2d filter-severity==success filter-severity==informational truncate=800 unique descriptions  "syntax=%severity%: %source%: %message% (%count%)"
alias_event_log_new=CheckEventLog file=application file=system MaxWarn=1 MaxCrit=1 "filter=generated gt -2d AND severity NOT IN ('success', 'informational')" truncate=800 unique descriptions "syntax=%severity%: %source%: %message% (%count%)"
alias_event_log=alias_event_log_new
check_ok=CheckOK Everything is fine!

[NRPE Client Handlers]
#check_other=-H 192.168.0.1 -p 5666 -c remote_command -a arguments
[NRPE HANDLERS]
check_snmp=c:\perl\bin\perl.exe "c:\Program Files\NSClient++\scripts\check_centreon_snmp_value" -H $ARG1$ -C $ARG2$ -v $ARG3$ -o $ARG4$ -w $ARG5$ -c $ARG6$
check_logfiles=c:\Perl\bin\perl.exe "c:\Program Files\NSClient++\scripts\check_logfiles.pl" -f $ARG1$
#HARDWARE TYPE ONLY
check_hpasm=c:\perl\bin\perl.exe "c:\Program Files\NSClient++\scripts\check_hpasm" --hostname $ARG1$ --community $ARG2$
check_openmanage=c:\perl\bin\perl.exe "c:\Program Files\NSClient++\scripts\check_openmanage" -H $ARG1$ -C $ARG2$


[modules]
NRPEListener.dll
NSClientListener.dll
NSCAAgent.dll
CheckWMI.dll
FileLogger.dll
CheckSystem.dll
CheckDisk.dll
CheckEventLog.dll
CheckHelpers.dll
FileLogger.dll
CheckSystem.dll
CheckDisk.dll
NSClientListener.dll
NRPEListener.dll
SysTray.dll
CheckEventLog.dll
CheckHelpers.dll
CheckWMI.dll
CheckExternalScripts.dll
NRPEClient.dll
